html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000;
    color: whitesmoke;
}

.image-container.d-flex.justify-content-start {
    padding: 0;
    width: fit-content;
    max-width: 100%;
}

.overlay d-flex p-4 align-items-center justify-content-center {
    width: fit-content;
    max-width: 100%;
}

.movie-app>.row {
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

img {
    margin: 10px;
}

.image-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    transition: 0.5s ease;
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

.image-container:hover .overlay {
    opacity: 1;
}

h1 {
    font-weight: bold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}